<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container mt-70">
  <div class="row">
    <div class="col">
    <h2 class="border-bottom">口座残高</h2>
      <% if @months.present? %>
        <div class="white-box bottom-shadow">
        <h5 class="text-left black">
          残高推移
        </h5>
          <% if @colum_chart_max > 10000 %>
            <%= area_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last / 10000] }, colors: ['#ffc107'], suffix: "万円" %>
          <% else %>
            <%= area_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last] }, colors: ['#ffc107'], suffix: "円" %>
          <% end %>
        </div>
      
      <div id="js-table-month">
        <%= render partial: 'months/month', locals: { months: @months } %>
      </div>
      <% else %>
        <p>家計簿を作成して下さい</p>
      <% end %>
    </div>
  </div>
</div>

