<div class="col-sm-12 col-lg-8">
<h2 class="border-bottom">入金額算出</h2>
<%= link_to '戻る', month_details_path  %>
<table class="text-center table table-hover table-striped">
    <tr class="table-secondary">
      <th></th>
      <th>旦那</th>
      <th>嫁</th>
    </tr>
    <tr class="table-light">
      <td>1回目</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-light">
      <td>2回目</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-light">
      <td>合計</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-light">
      <td>可処分所得</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="table-light">
      <td>実質可処分所得</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
