<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container mt-70 text-left">
  <div class="row">
    <div class="col-sm-12">
    <h2>プライバシーポリシー</h2>
    <p>Common Wallet（以下，「当方」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
    <h4>第1条（個人情報）</h4>
    <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
    <h4>第2条（取得する情報）</h4>
    <p>当方は、お客様から以下の情報を取得します。</p>
    <p>・氏名(ニックネームやペンネームも含む)</p>
    <p>・メールアドレス</p>
    <p>・Cookie(クッキー)を用いて生成された識別情報OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</p>
    <p>・当方ウェブサイトの滞在時間、入力履歴等の当方ウェブサイトにおけるお客様の行動履歴</p>
    <p>・当方アプリの起動時間、入力履歴等の当方アプリの利用履歴</p>
    <h4>第3条（個人情報を収集・利用する目的）</h4>
    <p>当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
    <p>・当方サービスに関する登録の受付、お客様の本人確認、認証のため</p>
    <p>・お客様の当方サービスの利用履歴を管理するため</p>
    <p>・当方サービスにおけるお客様の行動履歴を分析し、当方サービスの維持改善に役立てるため</p>
    <p>・市場分析、マーケティングのため</p>
    <p>・当方のサービスに関するご案内をするため</p>
    <p>・当方の規約や法令に違反する行為に対応するため</p>
    <p>・以上の他、当方サービスの提供、維持、保護及び改善のため</p>
    <h4>第4条（利用目的の変更）</h4>
    <p>当方は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</p>
    <p>利用目的の変更を行った場合には，変更後の目的について，当方所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</p>
    <h4>第5条（個人情報の第三者提供）</h4>
    <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
    <p>但し、次の場合は除きます。</p>
    <p>・当方が買収された場合</p>
    <p>・事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</p>
    <p>・その他、法律によって合法的に第三者提供が許されている場合</p>
    <p>・当方が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</p>
    <p>・合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
    <h4>第6条 アクセス解析ツール</h4>
    <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。 Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。</p>
    <p>トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
    <p>Cookieを無効にすれば、これらの情報の収集を拒否することができます。</p>
    <p>詳しくはお使いのブラウザの設定をご確認ください。</p>
    <p>Googleアナリティクスについて、詳しくは<a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Google アナリティクス利用規約</a>からご確認ください。</p>
    <h4>第7条（プライバシーポリシーの変更）</h4>
    <p>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</p>
    <p>当方が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</p>
    <h4>第8条（免責事項）</h4>
    <p>本サービスからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。</p>
    <p>また、本サービスのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。</p>
    <p>本サービスに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
    <p>以上</p>
    </div>
  </div>
</div>
