<footer class="border-top">
  <%= link_to '利用規約',terms_of_service_path,:style=>"color:#FFFFFF;" %>
  <span class="white">/</span>
  <%= link_to 'プライバシーポリシー', privacy_policy_path,:style=>"color:#FFFFFF;" %>
</footer>