<% if !params[:month_id].present? %>
  <footer class="switchless_footer stay footer-shadow">
    <div class="information-footer">
    <span class="white">© 2021 CoWallet　</span>
      <%= link_to '利用規約',terms_of_service_path,:style=>"color:#FFFFFF;" %>
      <span class="white"> / </span>
      <%= link_to 'プライバシーポリシー', privacy_policy_path,:style=>"color:#FFFFFF;" %>
    </div>
  </footer>
<% end %>