/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 .fa-trash:before{
  color:#708090;
 }
 .navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}
.fa-pen:before{
  color:#708090;
 }
.negative-margin {
  margin-top: -9px;
}
.bold {
  font-weight: bold;
}
// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }
  .h-80{
    height: 80px;
  }
  .pb-30 {
    padding-bottom: 30px;
  }
  p.stay-top {
    margin: initial;
    margin-top: 10px;
  }
 }
 // 中デバイス（タブレット, 992px 未満）
 @media (max-width: 991.98px) {
  div.main-contents {
    font-size: 1.0rem;
    text-align: center;
  }
 }
 // @include media-breakpoint-up(sm) {
 @media (max-width: 550px) {
  body, .btn-sm, .btn {
    font-size: 0.8rem;
    text-align: center;
  }
  footer {
    font-size: 1rem;
  }
  h1.left{
    font-size: 1.6rem;
    text-align: left;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .stay{
    font-size: 0.9rem;
  }
  p.stay-top {
    font-size: 1rem;
  }
  .display-xs-none {
    display: none;
  }
  .form-control, .btn {
    height: calc(1.6rem);
    padding: 0.200rem 0.5rem;
  }
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: calc(2.5rem);
  }
  .fa-lg.white {
    font-size: 23px;
    margin-top: 5px;
  }
  .negative-margin {
    margin-top: -5px;
  }
  .sub-image img{
    width: 100%;
    height: auto;
  }
  .visible-lg-block {display: none; }
  .main-catch {
    margin-left: 50px;
    margin-bottom: 10px;
  }
 }
 @media (max-width: 400px) {
  .main-catch {
    margin-left: 30px;
    margin-bottom: 10px;
  }
 }
 @media (max-width: 375px) {
  .main-catch {
    margin-left: 10px;
    margin-bottom: 10px;
  }
 }
 @media (min-width: 550px) {
  .display-lg-none {
    display: none;
  }
  .visible-xs-block {display: none; }
 }

 body{
  background-color: #f8f8f8;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', 
sans-serif;

}
a{
  color: #b68973;
}
.top-background{
  background-color: #fff;
  font-family: YuGothic,'Yu Gothic', sans-serif;
}
.red {
  color: #f14668;
}
.blue {
  color: #8ac4d0;
}
.light-blue {
  color: #0000FF;
}
.yellow {
  color: #ffe227;
}
.green {
  color: #beca5c;
}
.gray {
  color: #708090;
}
.orange {
  color: #fca504;
}
.white {
  color: #FFFFFF;
}
.purple {
  color: #ddaef8;
}
.table-white{
  background-color: #fafafa;
}

.main-contents{
  background-color: #FFFFFF;
}

.center {
  text-align: center;
}

.table-warning > th {
  background-color: #ffca2c;
}

.table-danger {
  background-color: #ff9ea7;
}

footer{
  background-color: #ffc10700;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}
html {
  position: relative;
  height: 100%;
}
.content {
  margin-top: 52px;
  padding-bottom: 20px;
}
.content-switch {
  margin-top: 58.7px;
  padding-bottom: 75px;
}

.switch_footer {
  height: 74px;
}

.swichless_footer {
  height: 20px;
}

.sub-contents {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  background-color: #FFF6DA;
  font-family: YuGothic,'Yu Gothic', sans-serif;
}

.notion {
  padding-top:20px;
}

.switch {
  background-color: #f8f8f800;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
}
span.font-size {
  font-size: 0.5rem;
  color: #FFF;
}
.btn-lg {
  height: 50px;
}
.table {
  border-radius: 0.28571429rem;
}
.ui.table {
  text-align: center;
}
.text-center.table {
  width: 100%;
  background: #FFFFFF;
  margin: 1em 0em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0px;
  border-top: none;
}

.text-center.table.blue {
  border-top: 0.3em solid #17a2b8;
}
.text-center.table.green {
  border-top: 0.3em solid #28a745;
}
.text-center.table.red {
  border-top: 0.3em solid #dc3545;
}
.text-center.table.lg {
  font-size: 1.15rem;
}
th {
  background-color: #F9FAFB;
}

tr th:first-child {
  border-radius: 1rem 0 0 0;
}

tr th:last-child {
  border-right: none;
  border-radius: 0 1rem 0 0;
}

tr:last-child td:first-child{
  border-radius: 0 0 0 1rem;
}
tr:last-child td:last-child {
  border-bottom: none;
  border-radius: 0 0 1rem 0;
}
.information-footer {
  background-color: #ffc107;
  border-top: 1px solid #cacaca;
}
.badge {
  font-size: 110%;
  margin-bottom: 10px;
  color: #FFF;
}
.badge.badge-pill {
  margin-bottom: -10px;
  margin-top: 10px;
}
.features {
  background-color: white;
  border-radius: 50px;
  padding: 20px 10px;
  margin: 5px;
}
.marker{
  background:linear-gradient(transparent 60%, #ffc107 70%);
}
h1.left {
  line-height: 150%;
}
