/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Varela+Round');
.btn {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
 .fa-trash:before{
  color:#708090;
 }
 .navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}
.fa-pen:before{
  color:#708090;
 }
.negative-margin {
  margin-top: -9px;
}
.bold {
  font-weight: bold;
}
.mt-70 {
  margin-top: 70px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-left: 20px;
}
.pt-15 {
  padding-top: 13px;
}
.mt-20 {
  margin-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pl-50 {
  padding-left: 50px;
}
.pr-20 {
  padding-right: 20px;
}
td.pr-30 {
  padding-right: 30px;
}
.p-0 {
  padding: 0;
}
// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }
  .h-80{
    height: 80px;
  }

  p.stay-top {
    margin: initial;
    margin-top: 10px;
  }
  
 }
 // 中デバイス（タブレット, 992px 未満）
 @media (max-width: 991.98px) {
  div.main-contents {
    font-size: 1.0rem;
    text-align: center;
  }
 }
 // @include media-breakpoint-up(sm) {
 @media (max-width: 550px) {
  body, .btn-sm, .btn {
    text-align: center;
  }
  footer {
    font-size: 1rem;
  }
  
  h1.left{
    font-size: 1.6rem;
    text-align: left;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-weight: normal !important;
  }
  .stay{
    font-size: 0.9rem;
  }
  .fs-14{
    font-size: 14px;
  }
  p.stay-top {
    font-size: 1rem;
  }

  .display-xs-none {
    display: none;
  }
  .visible-lg-block {
    display: none; 
  }
  .mt-50 {
    margin-top: 50px;
  }
  .fa-lg.white {
    font-size: 23px;
    margin-top: 5px;
  }
  .negative-margin {
    margin-top: -5px;
  }
  .sub-image img{
    width: 100%;
    height: auto;
  }
  
  .main-catch {
    margin-bottom: 10px;
    text-align: center;
	  display: block;
  }
  .prl-5 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .xs-mb-10 {
    margin-bottom: 10px;
  }
 }
 @media (max-width: 400px) {
  .main-catch {
    margin-bottom: 10px;
    text-align: center;
	  display: block;
  }
 }
 @media (max-width: 375px) {
  .main-catch {
    margin-bottom: 10px;
    text-align: center;
	  display: block;
  }
 }
 @media (min-width: 550px) {
  .display-lg-none {
    display: none;
  }
  .visible-xs-block {display: none; }

  .width{
    display: inline-block;
  }
  .width.right{
    float: right;
  }
  .width-50{
    width: 50%;
  }
}

 body{
  background-color: #eeeef0;
  font-family: YuGothic,'Yu Gothic', sans-serif;
  color: #585858;
}
a{
  color: #b68973;
}
a:hover {
  color: #585858;
  text-decoration: none;
}
.top-background{
  background-color: #fff;
  font-family: YuGothic,'Yu Gothic', sans-serif;
}
.red {
  color: #f14668;
}
.light-red {
  color: #f8708b;
}
.blue {
  color: #8ac4d0;
}
.light-blue {
  color: #0000FF;
}
.default-blue {
  color: #007bff;
}
.yellow {
  color: #ffe227;
}
.green {
  color: #beca5c;
}
.gray {
  color: #8d8d8d;
}

.orange {
  color: #fc8804;
}
.white {
  color: #FFFFFF;
}
.purple {
  color: #ddaef8;
}
.black {
  color: #242424;
}
.brown {
  color: #be6a6a;
}
.table-white{
  background-color: #fafafa;
}

.main-contents{
  background-color: #FFFFFF;
}

.center {
  text-align: center;
}

.table-warning > th {
  background-color: #ffca2c;
}

.table-danger {
  background-color: #ff9ea7;
}

footer{
  background-color: #ffc10700;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}
html {
  position: relative;
  height: 100%;
}
.content {
  margin-top: 50px;
}
.content-switch {
  margin-top: 50px;
  padding-bottom: 95px;
}


.switch_footer {
  height: 50px;
}
.switch_footer.plus-detail {
  height: 130px;
}
.display-table {
  display: table;
}

.switchless_footer {
  height: 18px;
}

.sub-contents-2 {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  background-color: #FFF6DA;
  font-family: YuGothic,'Yu Gothic', sans-serif;
}
.sub-contents-1 {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  background-color: #eeeef0;
  font-family: YuGothic,'Yu Gothic', sans-serif;
}

.notion {
  padding-top:20px;
}

.switch {
  background-color: #f5f5f5;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.switch a {
  color: #5e5e5e;
}

span.font-size {
  font-size: 0.8rem;
  color: #5e5e5e;
}
span.font-size.orange {
  font-size: 0.8rem;
  color: #fc8804;
}
.btn-lg {
  height: 50px;
  padding-top: 0.9rem;
  font-size: 1.1rem;
}
.table {
  border-radius: 0.28571429rem;
}
.ui.table {
  text-align: center;
}
.text-center.table {
  width: 100%;
  background: #FFFFFF;
  margin: 10px 0px;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0px;
}
.text-center.table.border-none {
  border: initial;
}

.text-center.table.blue {
  border-top: 0.3em solid #17a2b8;
}
.text-center.table.green {
  border-top: 0.3em solid #28a745;
}
.text-center.table.red {
  border-top: 0.3em solid #dc3545;
}
.text-center.table.lg {
  font-size: 1.15rem;
}
th {
  background-color: #F9FAFB;
}

tr th:first-child {
  border-radius: 1rem 0 0 0;
}

tr th:last-child {
  border-right: none;
  border-radius: 0 1rem 0 0;
}

tr:last-child td:first-child{
  border-radius: 0 0 0 1rem;
}
tr:last-child td:last-child {
  border-bottom: none;
  border-radius: 0 0 1rem 0;
}
.information-footer {
  background-color: #ffc107;
}
.badge {
  font-size: 110%;
  margin-bottom: 10px;
  color: #FFF;
}
.badge.badge-pill {
  margin-bottom: -10px;
  margin-top: 10px;
}
.features {
  background-color: white;
  border-radius: 50px;
  padding: 20px 10px;
  margin: 5px;
}
.white-box {
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
  margin: 10px 0 0 0;

}
.bgc-orange {
  background-color: #fc8804;
}
.bgc-red {
  background-color: #ff4107;
}
.bgc-blue {
  background-color: #494cff;
}
.bgc-green {
  background-color: #49ff49;
}
.bg-secondary{
  background-color: #AAAAAA !important;
}
.what-common-wallet {
  background-color: white;
  border-radius: 30px;
  padding: 10px 5px;
  margin: 5px;
}
.marker-orange{
  background:linear-gradient(transparent 60%, #ffc107 70%);
}
.marker-gray{
  background:linear-gradient(transparent 60%, #bbbbbb 70%);
}
h1.left {
  line-height: 150%;
}
.mb-0{
  margin-bottom: 0;
}
.mb-20{
  margin-bottom: 0;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-70 {
  padding-bottom: 70px;
}
td.p-0 {
  padding: initial;
}
.left {
  text-align: left;
  display: inline-block;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.margin-right {
  margin:0 0 0 auto
}
.explain {
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.bottom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.top-shadow {
  box-shadow: 0 -2px 2px #e4e4e4 ;
}
.footer-shadow {
  box-shadow: 0 1px 4px gray;
}
.fs-07 {
  font-size: 0.7em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-20 {
  font-size: 2.0em;
}
.table th,.table td{
  border-top: initial;
  vertical-align: middle;
}
.block-center {
  text-align: center;
  display: block;
}
.block-left {
  display: block;
}
.table th.top,.table td.top{
  vertical-align: top;
  padding-top: initial;
}
.table th.top,.table td.mt-0{
  padding-top: initial;
}
.table th.top,.table td.mb-0{
  padding-bottom: initial;
}
.table th.bottom,.table td.bottom{
  vertical-align: bottom;
  padding-bottom: initial;
}
.bg-brown{
  background-color: #be6a6a;
}
.border-gray{
  border: 1px solid;
  border-color: rgb(172, 172, 172);
}
.form-group.center{
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.plus-bottom {
  width: 60px;
  height: 60px;
  line-height: 61px;
  background-color: #fc8804;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  float: right;
  .fa-pen:before{
    color: #fff;
  }
}
.plus-bottom-small {
  width: 50px;
  height: 50px;
  line-height: 51px;
  background-color: #fc8804;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  float: right;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}
.btn-outline-dark.radius.btn-sm, .btn-group-sm > .btn{
  border-radius: 20px;
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
}
.badge-secondary.badge.badge-pill {
  font-weight: 100;
  padding: 0.3em 1.5em;
  vertical-align: initial;
  margin: initial;
  background-color: #aaaaaa;
}
.btn.btn-warning {
  padding: 0.375rem;
  color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.form-control{
  border: initial;
  border-radius: initial;
  border-bottom-color: rgb(119, 119, 119);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.btn.btn-outline-secondary.btn-sm{
  width: initial;
  padding-left: 20px;
  padding-right: 20px;
}
.btn.btn-outline-warning.btn-lg{
  background-color: #fff;
}
body.bgc-white{
  background-color: #fff;
}
.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  background-color: #fc8804;
  position: fixed;
  height: 50px!important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 200px;
  margin-top: 50px;
  transform: translateX(-200px);
  transition: transform 200ms ease-in-out;
  background: #fc8804;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 17px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.invite-resister {
  background-color: rgba(255, 255, 255, 0.637);
  color: rgb(85, 85, 85);
  padding: 5px;
}
.btn-warning{
  background-color: #fc8804;
  border-color: #fc8804;
}
.btn-warning:hover{
  background-color: #fc8804b9;
  border-color: #fc8804c2;
}
.btn-outline-warning {
  color: #fc8804;
  border-color: #fc8804;
}
.btn-outline-warning:hover {
  color: #fc8804;
  border-color: #fc8804;
  background-color: rgba(128, 128, 128, 0.336);
}
.bgc-1 {
  background-color: #ff4d4d;
}
.bgc-2 {
  background-color: #dab141;
}
.bgc-3 {
  background-color:#E77575;
}
.bgc-4 {
  background-color: #83B337;
}
.bgc-5 {
  background-color:#ddcc2d;
}
.bgc-6 {
  background-color: #59ccc6;
}
.bgc-7 {
  background-color: #31A1DA;
}
.bgc-8 {
  background-color: #ffb732;
}
.bgc-9 {
  background-color: #e98f45;
}
.bgc-10 {
  background-color: #ad8534;
}
.bgc-11 {
  background-color: #929292;
}
.bgc-12 {
  background-color: #898dda;
}
