/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 .fa-trash:before{
  color:#708090;
 }
 .navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}
.fa-pen:before{
  color:#708090;
 }
 
// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }
 }
 // 中デバイス（タブレット, 992px 未満）
 @media (max-width: 991.98px) {
  div.main-contents {
    font-size: 1.0rem;
    text-align: center;
  }
 }
 // @include media-breakpoint-up(sm) {
 @media (max-width: 550px) {
  body, .btn-sm, .btn {
    font-size: 0.8rem;
    text-align: center;
  }
  footer {
    font-size: 1rem;
  }
  h1.left{
    text-align: left;
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .stay{
    font-size: 0.9rem;
  }
  p.stay-top {
    font-size: 1rem;
  }
  .display-xs-none {
    display: none;
  }
  .form-control, .btn {
    height: calc(1.6rem);
    padding: 0.200rem 0.5rem;
  }
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    height: calc(2.5rem);
  }
  .sub-image img{
    width: 100%;
    height: auto;
  }
  .visible-lg-block {display: none; }
  span.left {
    margin-left: 55px;
  }
 }

 @media (min-width: 550px) {
  .display-lg-none {
    display: none;
  }
  .visible-xs-block {display: none; }
 }

 body{
  background-color: #fdfdea;
  font-family: YuGothic,'Yu Gothic', sans-serif;
}
a{
  color: #b68973;
}

.red {
  color: #f14668;
}
.blue {
  color: #8ac4d0;
}
.light-blue {
  color: #0000FF;
}
.yellow {
  color: #ffe227;
}
.green {
  color: #beca5c;
}
.gray {
  color: #708090;
}
.orange {
  color: #fca504;
}
.white {
  color: #FFFFFF;
}
.purple {
  color: #ddaef8;
}
.table-white{
  background-color: #fafafa;
}

.main-contents{
  background-color: #FFFFFF;
}

.center {
  text-align: center;
}
footer{
  background-color: #ffc107;
  text-align: center;
}
html {
  position: relative;
  height: 100%;
}
.content {
  margin-top: 58.7px;
  padding-bottom: 40px;
}
footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 20px;
}

.sub-contents {
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 30px;
}

.notion {
  padding-top:20px;
}

.switch {
  padding-bottom:20px;
}
